a {
    text-decoration: none;
}

body {
    
}

.header {
    background-color: #FFFFFF;
    margin-left: 404px;
    margin-right: 401px;
}

.main {
    background-color: #FAFAFA;
    margin-left: 368px;
    margin-right: 353px;
}