* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Lato', sans-serif;
  }
  
  img {
    max-width: 100%;
  }
  
  a {
    text-decoration: none;
  }

  .header {
    min-height: 75px;
    background: #222222;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .head_left {
    display: flex;
    align-items: center;
    gap: 41px;
  }
  
  .head_right {
    display: flex;
    align-items: center;
    gap: 33px;
  }

  .main {
    display: flex;
    background: #F1E4E6;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
  }
  
  .main_photo {
    width: 50%;
  }
  
  .brand {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    margin-top: 48%;
  }
  
  .brand1 {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
  }
  
  .brand2 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
  }
  
  .title {
    padding-left: 64px;
  }
  
  .catalog_items {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 64px;
    padding-bottom: 96px;
  }
  
  .item {
    position: relative;
  }
  
  .text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .item_acces {
    position: relative;
    min-height: 180px;
    grid-column: 1 / -1;
  }
  
  .item_text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
  }
  
  .item_text2 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
  }
  
  .block_goods {
    padding-bottom: 96px;
  }
  
  h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #222222;
  }
  
  .sale_text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 6px;
    color: #9F9F9F;
  }
  
  .goods {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    justify-content: center;
    gap: 30px;
  }
  
  .good {
    position: relative;
  }
  
  .good__img {
    width: 100%;
  }
  
  .info_good {
    background: #F8F8F8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 24px 16px;
    gap: 16px;
  }
  
  .h3_good {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
  }
  
  .p-good {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
  }
  
  .price {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
  }
  
  .button {
    position: absolute;
    left: 690px;
    right: 690px;
    top: 2817px;
    bottom: 60px;
    border: 1px solid #FF6A6A;
  }

  .button_1 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    text-align: center;
    margin-top: 6px;
   
  }
